/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$md3-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$red-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($md3-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: mat.get-theme-color($md3-theme, secondary) !important;
  }
}

mat-toolbar {
  background-color: mat.get-theme-color($md3-theme, primary) !important;
}

tr {
  &:nth-child(even) {
    background-color: rgba(
      $color: mat.get-theme-color($md3-theme, secondary),
      $alpha: 0.2
    );
  }
}

.danger-icon {
  color: mat.get-theme-color($md3-theme, tertiary) !important;
}

.filter-and-add {
  display: flex;
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
