<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input formControlName="date" matInput placeholder="Date" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close]="form.value">Save</button>
</mat-dialog-actions>
